<div>
  <%= image_tag("hands.jpg", id: 'hands') %>
  <p id="email">Customer services email address: mingyuan7725@gmail.com</p>
</div>
<center>
  <iframe width="500" height="305" src="//www.youtube.com/embed/gGHIFyaDweA" frameborder="0" allowfullscreen></iframe>
</center>

<ul id="waf">
  <li>Student: Ming Yuan Yang</li>
  <li>Student No.: x12117137</li>
</ul>
